* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

input {
  width: 200px;
  height: 30px;
  outline: none;
}

button {
  cursor: pointer;
}

.header {
  padding: 30px 15px;
  background-color: #5ca9ec;
}

.title {
  color: #fff;
  font-size: 20px;
}

p {
  margin: 0;
}
